* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui;
}

.title {
    font-size: 3em;
    color: #fff;
}

a {
    text-decoration-line: none;
    color: #fff;
}

.login {
    padding: 8px;
    background: #5252f5;
    border-radius: 10px;
}

.login:hover {
    background: #1414b5;
}

.fondoPrincipal {
    width: 100%;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/Images/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bienvenida {
    color: #fff;
}

.login,
a {
    margin: 5px;
}

.logo {
    width: 10%;
    border-radius: 10px;
    margin: 10px;
}

nav {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

.lema {
    font-size: 2em;
}

.Descripcion {
    font-size: 1.3em;
}


.saludo {
    font-size: 2.7em;

}

main {
    text-align: center;
}

.lemaDescripcion {
    padding: 2em;
}

aside {
    margin: 10px;
}

footer {
    padding: 3em;
    background: #45e745;
}